<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Chart Reports</h3>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab_content2" aria-labelledby="Project-tab">

            <div class="x_panel">
                <div class="x_content" style="align-content:center;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Project Name</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="selectedProjectDropdown" ng-change="getProjectReleases(selectedProjectDropdown)">
                                        <option value="">Select a Project</option>
                                        <option ng-repeat="project in projectsDropdown" value="{{project.Value}}">{{project.Text}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Release</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="selectedReleaseDropdown" ng-change="getSelectedProjectMonth(selectedProjectDropdown,selectedReleaseDropdown)">

                                        <option ng-repeat="release in releaseDropdown" value="{{release.ProjectReleaseId}}">{{release.ReleaseName}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Chart Type</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="selectedChartType" ng-change="DisplayChart(selectedProjectDropdown,selectedReleaseDropdown)">
                                        <option value="">Select Chart Type</option>
                                        <optgroup label="Ongoing charts">
                                            <option value="DWD">Development Widget Dashboard</option>
                                            <option value="SEG">SIT Execution Graph</option>
                                            <option value="SDG">SIT Defect Graph</option>
                                            <option value="SDSD">SIT Defect Severity Distribution</option>
                                            <option value="DTD">Defect Type Distribution</option>
                                        </optgroup>
                                        <optgroup label="Release-end charts">
                                            <option value="ED">Effort Distribution</option>
                                            <option value="TCD">Test Case Distribution</option>
                                            <option value="TCCD">Test case complexity distribution</option>
                                            <option value="DDPD">Defect Detected Phase Distribution</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8" ng-switch="selectedChartType">
                                    <div ng-switch-when="DWD">
                                        <br />
                                        <h4 style="text-align:center;">Developement Widget Dashboard</h4>
                                        <canvas id="lineProjectWidgetDashBoard" class="chart chart-line"
                                                chart-data="ProjectWidgetDashboardData"
                                                chart-options="ProjectWidgetDashboardOptions"
                                                chart-labels="ProjectWidgetDashboardLabels"
                                                chart-colors="ProjectWidgetDashboardColors"
                                                chart-series="ProjectWidgetDashboardSeries"
                                                chart-dataset-override="ProjectWidgetDashboardOverride"></canvas>
                                    </div>
                                    <div ng-switch-when="SDSD">
                                        <br />
                                        <h4 style="text-align:center;">SIT Defect Severity Distribution</h4>
                                        <canvas id="SITDefectSeverityDistribution" class="chart chart-doughnut"
                                                chart-data="SITDefectSeverityData"
                                                chart-labels="SITDefectSeverityLabels"
                                                chart-options="SITDefectSeverityOptions"></canvas>
                                    </div>
                                    <div ng-switch-when="DTD">
                                        <br />
                                        <h4 style="text-align:center;">Defect Type Distribution</h4>
                                        <canvas id="SITDefectSeverityDistribution" class="chart chart-doughnut"
                                                chart-data="DefectTypeDistributionData"
                                                chart-labels="DefectTypeDistributionLabels"
                                                chart-options="DefectTypeDistributionOptions"
                                                chart-dataset-override="DefectTypeDistributionDatasetOverride"></canvas>
                                    </div>

                                    <div ng-switch-when="ED">
                                        <br />
                                        <h4 style="text-align:center;">Effort Distribution</h4>
                                        <canvas id="bar" class="chart chart-bar" chart-colors="ProjectEffortDataColors"
                                                chart-data="ProjectEffortData" chart-labels="labels" chart-series="ProjectEffortDataSeries">
                                            chart-series="series"
                                        </canvas>
                                    </div>
                                    <div ng-switch-when="TCD">
                                        <br />
                                        <h4 style="text-align:center;">Test Case Distribution</h4>
                                        <canvas id="base" class="chart-horizontal-bar" chart-colors="TestCaseDistributionColors"
                                                chart-data="TestCaseDistribution" chart-labels="labels1" chart-series="TestCaseDistributionSeries"></canvas>
                                    </div>
                                    <div ng-switch-when="TCCD">
                                        <br />
                                        <h4 style="text-align:center;">Test case complexity distribution</h4>
                                        <canvas id="doughnutTestCaseComplexity" class="chart chart-doughnut" chart-colors="TestCaseComplexityDistributionColors"
                                                chart-data="TestCaseComplexityDistribution" chart-series="TestCaseComplexityDistributionSeries" chart-labels="labels4"></canvas>
                                    </div>
                                    <div ng-switch-when="DDPD">
                                        <br />
                                        <h4 style="text-align:center;">Defect Detected Phase Distribution</h4>
                                        <canvas id="defectDetectedPhase" class="chart chart-doughnut" chart-colors="DefectDetectedPhaseColors"
                                                chart-data="DefectDetectedPhase" chart-labels="labels3" chart-series="DefectDetectedPhaseSeries"></canvas>
                                    </div>

                                    <p ng-switch-default></p>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
