<style>
    #saveModal .modal-body {
        height: 15vh !important;
    }

    .outer-1 {
        background-color: blue;
        width: 200px; /* You can define it by % also */
        height: 200px; /* You can define it by % also*/
        position: relative;
        border: 1px solid black;
        border-radius: 50%;
    }

    .inner-1 {
        background-color: lime;
        top: 10%;
        left: 10%; /* of the container */
        width: 80%; /* of the outer-1 */
        height: 80%; /* of the outer-1 */
        position: absolute;
        border: 1px solid black;
        border-radius: 50%;
    }

    .inner-2 {
        background-color: yellow;
        top: 20%;
        left: 20%; /* of the container */
        width: 60%; /* of the inner-1 */
        height: 60%; /* of the inner-1 */
        position: absolute;
        border: 1px solid black;
        border-radius: 50%;
    }
</style>
<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Chart Reports</h3>
            </div>
        </div>
        <div>
            <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" dismiss-on-timeout="5000" ng-repeat="alert in alerts" close="alerts.splice($index, 1);"> {{alert.msg}} </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab_content2" aria-labelledby="Project-tab">

            <div class="x_panel">
                <div class="x_content" style="align-content:center;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Project Name</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="selectedProjectDropdown" ng-change="getProjectReleases(selectedProjectDropdown)">
                                        <option value="">Select a Project</option>
                                        <option ng-repeat="project in projectsDropdown" value="{{project.Value}}">{{project.Text}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Release</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="selectedReleaseDropdown" ng-change="getSelectedProjectMonth(selectedProjectDropdown,selectedReleaseDropdown); DisplayChart(selectedProjectDropdown,selectedReleaseDropdown)">
                                        <option ng-repeat="release in releaseDropdown" value="{{release.ProjectReleaseId}}">{{release.ReleaseName}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Chart Type</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="selectedChartType" ng-change="DisplayChart(selectedProjectDropdown,selectedReleaseDropdown)">
                                        <option value="">Select Chart Type</option>
                                        <optgroup label="Ongoing charts">
                                            <option value="DWD">Development Widget Dashboard</option>
                                            <option value="SEG">SIT Execution Graph</option>
                                            <option value="SDG">SIT Defect Graph</option>
                                            <option value="SDSD">SIT Defect Severity Distribution</option>
                                            <option value="DTD">Defect Type Distribution</option>
                                        </optgroup>
                                        <optgroup label="Release-end charts">
                                            <option value="ED">Effort Distribution</option>
                                            <option value="TCD">Test Case Distribution</option>
                                            <option value="TCCD">Test case complexity distribution</option>
                                            <option value="DDPD">Defect Detected Phase Distribution</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8" ng-switch="selectedChartType">
                                    <div ng-switch-when="DWD" class="text-center">
                                        <br />
                                        <h4 style="text-align:center;">Developement Widget Dashboard</h4>
                                        <canvas id="lineProjectWidgetDashBoard" class="chart chart-line"
                                                chart-data="ProjectWidgetDashboardData"
                                                chart-labels="ProjectWidgetDashboardLabels"
                                                chart-colors="ProjectWidgetDashboardColors"
                                                chart-series="ProjectWidgetDashboardSeries"
                                                chart-options="ProjectWidgetDashboardOptions"
                                                chart-dataset-override="ProjectWidgetDashboardOverride"></canvas>
                                        <br />
                                        <button ng-click="OpenSavePopup()" ng-show="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>
                                    <div ng-switch-when="SEG" class="text-center">
                                        <br />
                                        <h4 style="text-align:center;">SIT Execution Graph</h4>
                                        <canvas id="SITExecutionGraph" class="chart chart-bar"
                                                chart-data="SitExecutionGraphData"
                                                chart-labels="SitExecutionGraphLabels"
                                                chart-series="SitExecutionGraphSeries"
                                                chart-options="SitExecutionGraphOptions"
                                                chart-colors="SitExecutionGraphColors"
                                                chart-dataset-override="SitExecutionGraphOverride"></canvas>
                                        <br />
                                        <button ng-click="OpenSavePopup()" ng-show="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>
                                    <div ng-switch-when="SDG" class="text-center">
                                        <br />
                                        <h4 style="text-align:center;">SIT Defect Graph</h4>
                                        <canvas id="SITDefectGraph" class="chart chart-line"
                                                chart-data="SitDefectGraphData"
                                                chart-labels="SitDefectGraphLabels"
                                                chart-series="SitDefectGraphSeries"
                                                chart-options="SitDefectGraphOptions"
                                                chart-colors="SitDefectGraphColors"
                                                chart-dataset-override="SitDefectGraphOverride"></canvas>
                                        <br />
                                        <button ng-click="OpenSavePopup()" ng-show="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>
                                    <div ng-switch-when="SDSD" class="text-center" style="width:65%; margin-left:auto; margin-right:auto;">
                                        <br />
                                        <h4 style="text-align:center;">SIT Defect Severity Distribution</h4>
                                        <canvas id="SITDefectSeverityDistribution" class="chart chart-doughnut"
                                                chart-data="SITDefectSeverityData"
                                                chart-labels="SITDefectSeverityLabels"
                                                chart-options="SITDefectSeverityOptions" width="300" height="300"></canvas>
                                        <br />
                                        <button ng-click="OpenSavePopup()" ng-show="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>
                                    <div ng-switch-when="DTD" class="text-center" style="width:65%; margin-left:auto; margin-right:auto;">
                                        <br />
                                        <h4 style="text-align:center;">Defect Type Distribution</h4>
                                        <canvas id="SITDefectSeverityDistribution" class="chart chart-doughnut"
                                                chart-data="DefectTypeDistributionData"
                                                chart-labels="DefectTypeDistributionLabels"
                                                chart-options="DefectTypeDistributionOptions"
                                                chart-dataset-override="DefectTypeDistributionDatasetOverride"></canvas>
                                        <br />
                                        <button ng-click="OpenSavePopup()" ng-show="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>

                                    <div ng-switch-when="ED" class="text-center" style="width:65%; margin-left:auto; margin-right:auto;">
                                        <br />
                                        <h4 style="text-align:center;">Effort Distribution</h4>
                                        <canvas id="doubleDount" class="chart chart-doughnut" chart-options="ProjectEffortDataoptions"
                                                chart-data="ProjectEffortData" chart-labels="labels" chart-series="ProjectEffortDataSeries" chart-dataset-override="ProjectEffortDashboardOverride"></canvas>
                                        <br />
                                        <button ng-click="OpenSavePopup()" ng-show="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>
                                    <div ng-switch-when="TCD" class="text-center" style="width:65%; margin-left:auto; margin-right:auto;">
                                        <br />
                                        <h4 style="text-align:center;">Test Case Distribution</h4>
                                        <canvas id="doubleDount" class="chart chart-doughnut" chart-options="TestCaseDistributionoptions"
                                                chart-data="TestCaseDistribution" chart-labels="labels1" chart-series="TestCaseDistributionSeries" chart-dataset-override="TestCaseDistributionOverride"></canvas>
                                        <br />
                                        <button ng-click="OpenSavePopup()" ng-show="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>
                                    <div ng-switch-when="TCCD" class="text-center" style="width:50%; margin-left:auto; margin-right:auto;">
                                        <br />
                                        <h4 style="text-align:center;">Test case complexity distribution(Component/E2E)</h4>
                                        <canvas id="doubleDount" class="chart chart-doughnut"
                                                chart-data="TestCaseComplexityDistribution"
                                                chart-labels="labels4"
                                                chart-series="TestCaseComplexityDistributionSeries"
                                                chart-options="TestCaseComplexityDistributionoptions"></canvas>

                                        <br />                                        
                                        <button ng-click="OpenSavePopup()" ng-hide="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>
                                    <div ng-switch-when="DDPD" class="text-center" style="width:65%; margin-left:auto; margin-right:auto;">
                                        <br />
                                        <h4 style="text-align:center;">Defect Detected Phase Distribution</h4>
                                        <canvas id="donught" class="chart chart-doughnut"
                                                chart-data="DefectDetectedPhaseData"
                                                chart-labels="DefectDetectedPhaseLabels"
                                                chart-options="DefectDetectedPhaseOptions"></canvas>
                                        <br />
                                        <button ng-click="OpenSavePopup()" ng-show="savePopupButton" style="text-align:center;" class="btn btn-info"><i class="fa fa-save"></i> Save this report</button>
                                    </div>



                                    <p ng-switch-default></p>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="saveModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form name="formSaveReport" ng-submit="saveThisReport(formSaveReport.$valid)" class="form-inline">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save this report</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-lg-12">
                        <label class="control-label col-lg-4" for="ProjectName">Report Name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="ReportName" style="width:85%;" id="ReportName" placeholder="Enter Report Name" maxlength="200" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>