<style>
   

    .testClass {
        z-index: -10;
    }
</style>

<div class="x_panel" role="main" ng-app="home" ng-controller="homeCtrl">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Home</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_content fix">
                        <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" target="_self" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Charts</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" ng-click="LoadMyProject()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">My Projects</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content3" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">My Upcoming Reviews</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content4"  role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">My Saved Reports</a>
                                </li>
                            </ul>
                            <div id="myTabcontent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="x_panel tile fixed_height_420">
                                            <div class="x_content">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                       Chart
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="Project-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="x_panel">
                                                <div class="x_content">
                                                    <div class="col-md-12">
                                                        <div id="mprojectGrid" ui-grid="projectGrid" class="gridDiv grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 200px !important; width:100%">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="Project-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="x_panel">
                                                <div class="x_content">
                                                    <div class="col-md-12">
                                                        My Upcoming Reviews
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="Project-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="x_panel">
                                                <div class="x_content">
                                                    <div class="col-md-12">
                                                      My Saved Reports
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





