<style>
    .ui-grid-row, .ui-grid-cell, .ui-grid-cell .ui-grid-vertical-bar {
        height: 35px !important;
        vertical-align: middle !important;
    }

    .gridDivProjectRelease {
        height: 240px !important;
    }
    /*this datalist  hide thead text box command unwanted message*/
    .ui-grid-pager-row-count-label {
        display: none;
    }

    .ui-grid-pager-control-input {
        display: none !important;
    }

    .ui-grid-pager-max-pages-number {
        display: none;
    }
    /*End */
    .gridDivProjectRelease .msg {
        opacity: 1;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 50%;
        background-color: #eee;
        border-radius: 4px;
        border: 1px solid #555;
        text-align: center;
        font-size: 24px;
        display: table;
    }

        .gridDivProjectRelease .msg span {
            display: table-cell;
            vertical-align: middle;
        }

    #metricAssociationGrid {
        width: 100% !important;
        height: 400px !important;
    }

    #selectedlist option, #availabelist option {
        padding: 8px 15px;
        border-bottom: 1px solid #E6E9ED;
    }

        #selectedlist option:hover, #availabelist option:hover {
            background-color: #d1eaf9;
        }

        #selectedlist option:last-child, #availabelist option:last-child {
            border-bottom: none;
        }

    /* Put your css in here */

    multiselect {
        display: block;
    }

        multiselect .btn {
            width: 100%;
            background-color: #FFF;
        }

            multiselect .btn.error {
                border: 1px solid #da4f49 !important;
            }

        multiselect .dropdown-menu {
            max-height: 300px;
            overflow-y: auto;
        }

        multiselect .dropdown-menu {
            width: 100%;
            box-sizing: border-box;
            padding: 2px;
        }

            multiselect .dropdown-menu > li > a {
                padding: 3px 10px;
                cursor: pointer;
            }
</style>
<script src="~/Assets/app/directives/multiSelect.js"></script>
<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Associate Metrics</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_content fix">

                        <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" target="_self" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Release</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Metrics</a>
                                </li>
                            </ul>
                            <div id="myTabcontent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="x_panel tile fixed_height_420">
                                            <div class="x_title">
                                                <h2>Project Release</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="col-md-12 col-sm-12 col-xs-12">

                                                    <div ng-show="alertType" ng-class="{'alert-success': alertType=='Success','alert-danger': alertType=='Failure'}" class="alert alert-dismissable">
                                                        <span style="cursor:pointer;" class="close" aria-label="close" ng-click="ClearAlert()">&times;</span>
                                                        <strong>{{alertType}}!</strong> {{alertMessage}}
                                                    </div>
                                                    <div class="x_content">
                                                        <form name="formRelease" ng-submit="InsertProjectRelease(formRelease.$valid)" novalidate>
                                                            <div class="form-group">
                                                                <div class="col-md-3"></div>
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Project Name</label>
                                                                <div class="col-md-3">
                                                                    <select class="form-control" ng-model="selectedProjectDropDown" ng-change="GetProjectReleasesByProjectId()" required>
                                                                        <option value="">Select a Project</option>
                                                                        <option ng-repeat="project in projectsDropdown" value="{{project.Value}}">{{project.Text}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-3"></div>
                                                            </div>
                                                            <br>
                                                            <br>
                                                            <div class="form-group">
                                                                <div class="col-md-3"></div>
                                                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Release</label>
                                                                <div class="col-md-3">
                                                                    <input type="text" class="form-control" ng-model="ProjectReleaseName" maxlength="100" required>
                                                                </div>
                                                                <div class="col-md-3"></div>
                                                            </div>
                                                            <br>
                                                            <br>

                                                            <div class="row">
                                                                <div class="col-md-3"></div>
                                                                <div class="col-md-3"></div>
                                                                <div class="col-md-3">
                                                                    &nbsp;&nbsp;      &nbsp;&nbsp;   &nbsp;&nbsp;  <button class="btn btn-success" type="submit" id="btnSave" ng-disabled="formRelease.$invalid"> Add</button>
                                                                </div>
                                                                <div class="col-md-3"></div>
                                                            </div>
                                                        </form>
                                                        <div class="clearfix"></div>
                                                        <br>
                                                        <div>
                                                            <div class="col-md-1">

                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="gridDivProjectRelease grid" ui-grid="projectReleaseGridOptions" ui-grid-pagination="">
                                                                    <div class="grid-msg-overlay" ng-show="loading">
                                                                        <div class="msg">
                                                                            <span>
                                                                                Loading Data...
                                                                                <i class="fa fa-spinner fa-spin"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="grid-msg-overlay" ng-hide="loading || projectReleaseGridOptions.data.length">
                                                                        <div class="msg">
                                                                            <span>No Data</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">

                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                @*Metrics Tab Implementation*@
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="Project-tab">
                                    <div class="x_panel">
                                        <div class="x_content" style="align-content:center;">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div ng-show="alertTypeAssociation" ng-class="{'alert-success': alertTypeAssociation=='Success','alert-danger': alertTypeAssociation=='Failure'}" class="alert alert-dismissable">
                                                    <span style="cursor:pointer;" class="close" aria-label="close" ng-click="ClearAlert()">&times;</span>
                                                    <strong>{{alertTypeAssociation}}!</strong> {{alertAssociationMessage}}
                                                </div>
                                                <div class="x_content">
                                                    <div class="form-group">
                                                        <div class="col-md-3"></div>
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-2">Project Name</label>
                                                        <div class="col-md-3">
                                                            <select class="form-control" ng-model="selectedProjectReleaseDropdown" ng-change="getProjectReleases(selectedProjectReleaseDropdown)">
                                                                <option value="">Select a Project</option>
                                                                <option ng-repeat="project in projectsDropdown" value="{{project.Value}}">{{project.Text}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="form-group">
                                                        <div class="col-md-3"></div>
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-2">Release</label>
                                                        <div class="col-md-3">
                                                            <select class="form-control" ng-model="selectedReleaseDropdown">
                                                                @*<option value="">Select a Release</option>*@
                                                                <option ng-repeat="release in releaseDropdown" value="{{release.ProjectReleaseId}}">{{release.ReleaseName}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="form-group">
                                                        <div class="col-md-3"></div>
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-2">Month</label>
                                                        <div class="col-md-3">
                                                            @*<select class="form-control" name="monthList" ng-model="selectedMonth">
                                                                <option ng-repeat="month in monthList" value="{{month.MonthId}}">{{month.MonthName}}</option>
                                                                @*ng-options="g.MonthName for g in monthList" required autofocus>
                                                                    <option value="">Select Month</option>
                                                            </select>*@
                                                            <multiselect class="input-xlarge" multiple="true"
                                                                         ng-model="selectedMonth"
                                                                         options="c.MonthName for c in monthList"
                                                                         change="selected()"></multiselect>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-3">
                                                            &nbsp;&nbsp;      &nbsp;&nbsp;   &nbsp;&nbsp;  <button type="submit" class="btn btn-success" id="btnSave" ng-click="getMetricsList(selectedProjectReleaseDropdown,selectedReleaseDropdown,selectedMonth)"> Search</button>
                                                        </div>
                                                        <div class="col-md-3"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <br>

                                                    <div class="row form-group">
                                                        <div class="col-md-5">
                                                            <h2>Selected Metrics</h2>
                                                            <select class="form-group" multiple id="selectedlist" size="10" style="width:275px" ng-model="SelectedSelectedListItems" ng-options="i as i.name for i in SelectedListItems[selectFaIndex] | orderBy:'name'"></select>
                                                        </div>
                                                        <div class="col-md-2" style="margin-top:9%">
                                                            <div class="list-arrows col-md-1 text-center">
                                                                <button class="btn btn-default btn-sm move-left" ng-click="btnRight()">
                                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                                </button>
                                                                <button class="btn btn-default btn-sm move-right" ng-click="btnLeft()">
                                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <h2>Available Metrics</h2>
                                                            <select multiple id="availabelist" size="10" style="width:275px" ng-change="OnAvailableChange()" ng-model="SelectedAvailItems" ng-options="i as i.name for i  in AvailableListItems[selectFaIndex] | orderBy:'name'"></select>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div style="text-align:center;">
                                                        <button type="submit" ng-click="saveMetricsAssociation(selectedProjectReleaseDropdown,selectedReleaseDropdown,selectedMonth)" class="btn btn-success btnMetricsAssociation" id="btnSave">Save</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
