<div class="x_panel" role="main">
    <div class="">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Metrics</h3>
                </div>
            </div>
            <div ng-app="metrics" ng-controller="metricsCtrl" ng-init="init()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_content">
                                <!-- start project list -->
                                <table class="table table-striped projects" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Metric Master#</th>
                                            <th>Category Code</th>
                                            <th>Category Description</th>
                                            <th>SubCategory Code</th>
                                            <th>SubCategory Description</th>
                                            <th>Type Code</th>
                                            <th>Type Description</th>
                                            <th style="width: 20%">#Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="metric in metrics">
                                            <td>{{metric.MetricsMasterId}}</td>
                                            <td>{{metric.CategoryCode}}</td>
                                            <td>{{metric.CategoryDescription}}</td>
                                            <td>{{metric.SubCategoryCode}}</td>
                                            <td>{{metric.SubCategoryDescription}}</td>
                                            <td>{{metric.TypeCode}}</td>
                                            <td>{{metric.TypeDescription}}</td>
                                            <td>
                                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" />
                                            </td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                                <!-- end project list -->
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>