<style>
    .testClass {
        z-index: -10;
    }

    .wrap {
        white-space: normal;
    }


    .ui-grid-row:last-child > div > div {
        border-bottom: 0.5px solid #717171 !important;
    }

    /*.ui-grid-row > div > div > div:last-child {
        border-right: 1px solid black;
    }*/
    /*this datalist  hide thead text box command unwanted message*/
    .ui-grid-pager-row-count-label {
        display: none;
    }

    .ui-grid-pager-control-input {
        display: none !important;
    }

    .ui-grid-pager-max-pages-number {
        display: none;
    }

    .ui-grid-cell {
        height: 40px !important;
    }

    @@media screen and (min-width: 1080px) {
        .modal-dialog {
            width: 1080px; /* New width for default modal */
        }

        .modal-sm {
            width: 700px; /* New width for small modal */
        }
    }

    @@media screen and (min-width: 1080px) {
        .modal-lg {
            width: 1080px; /* New width for large modal */
        }
    }

    #healthReportModal .modal-body {
        height: 85vh !important;
    }
    /*End */
    .grid .msg {
        opacity: 1;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 50%;
        background-color: #eee;
        border-radius: 4px;
        border: 1px solid #555;
        text-align: center;
        font-size: 24px;
        display: table;
    }

        .grid .msg span {
            display: table-cell;
            vertical-align: middle;
        }

    /*this datalist  hide thead text box command unwanted message*/
    .ui-grid-pager-row-count-label {
        display: none;
    }

    .ui-grid-pager-control-input {
        display: none !important;
    }

    .ui-grid-pager-max-pages-number {
        display: none;
    }
    /*End */


    .tileReview {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        /*background: #fff;*/
        padding: 20px;
        margin-bottom: 10px;
    }

        .tileReview .tileReview {
            margin-top: 0px;
        }

        .tileReview.purple, .tileReview.blue, .tileReview.red, .tileReview.orange, .tileReview.green {
            color: #fff;
        }

        .tileReview.purple {
            background: #5133AB;
        }

            .tileReview.purple:hover {
                background: #3e2784;
            }

        .tileReview.red {
            background: #AC193D;
        }

            .tileReview.red:hover {
                background: #7f132d;
            }

        .tileReview.green {
            background: #00A600;
        }

            .tileReview.green:hover {
                background: #007300;
            }

        .tileReview.blue {
            background: #2672EC;
        }

            .tileReview.blue:hover {
                background: #125acd;
            }

        .tileReview.orange {
            background: #DC572E;
        }

            .tileReview.orange:hover {
                background: #b8431f;
            }
</style>

<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Metric Reports</h3>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab_content2" aria-labelledby="Project-tab">

            <div class="x_panel">
                <div class="x_content" style="align-content:center;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Project Name</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="selectedProjectReleaseDropdown" ng-change="getProjectReleases(selectedProjectReleaseDropdown)">
                                        <option value="">Select a Project</option>
                                        <option ng-repeat="project in projectsDropdown" value="{{project.Value}}">{{project.Text}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Month</label>
                                <div class="col-md-3">
                                    <select ng-model="selectedMonth" class="form-control" ng-required="true">
                                        <option value="">Select a Month</option>
                                        <option ng-repeat="option in months" value="{{option.MonthId}}">{{option.MonthName}}</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-2">Release</label>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="selectedReleaseDropdown">
                                        <option ng-repeat="release in releaseDropdown" value="{{release.ProjectReleaseId}}">{{release.ReleaseName}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"></div>
                            </div>

                            <br />
                            <br />

                            <div class="row">
                                <div class="col-md-offset-7">
                                    <button class="btn btn-green nextBtn btn-md" type="button" ng-click="getHealthReport(selectedProjectReleaseDropdown,selectedReleaseDropdown,selectedMonth)">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="healthReportModal" ng-show="HideShow">
        <div role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#tab_projectEffort" ng-click="LoadProjectEffortByProject()" target="_self" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Effort Dashboard</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_ProjectTesting" ng-click="LoadProjectTestingByProject()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Testing Dashboard</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_ProjectDefects" ng-click="LoadProjectDefectByProject()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Defects Dashboard</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_projectWidget" ng-click="LoadProjectWidgetByProject()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Widget Dashboard</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_projectPerformance" ng-click="LoadProjectPerformanceByProject()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Project Metrics</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content6" ng-click="LoadProductivityDashboard_GroundUp()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Productivity</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content7" ng-click="LoadDefectDensity_GroundUp()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Defect Density</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content8" ng-click="LoadProjectPerformanceByProject()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Testing Metrics</a>
                </li>
            </ul>
            <div id="myTabcontent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_projectEffort" aria-labelledby="home-tab">
                    <div class="col-md-12 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_420">
                            <div class="x_content">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div id="mGrid1" ui-grid="projectEffortGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                            <div class="grid-msg-overlay" ng-show="projectEffortGridLoading">
                                                <div class="msg">
                                                    <span>
                                                        Loading Data...
                                                        <i class="fa fa-spinner fa-spin"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="grid-msg-overlay" ng-hide="projectEffortGridLoading || projectEffortGrid.data.length">
                                                <div class="msg">
                                                    <span>No Data</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_ProjectTesting" aria-labelledby="Project-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-md-12">
                                        <div id="mGrid2" ui-grid="projectTestingGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                            <div class="grid-msg-overlay" ng-show="projectTestingGridLoading">
                                                <div class="msg">
                                                    <span>
                                                        Loading Data...
                                                        <i class="fa fa-spinner fa-spin"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="grid-msg-overlay" ng-hide="projectTestingGridLoading || projectTestingGrid.data.length">
                                                <div class="msg">
                                                    <span>No Data</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_ProjectDefects" aria-labelledby="Project-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-md-12">
                                        <div id="mGrid3" ui-grid="projectDefectGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                            <div class="grid-msg-overlay" ng-show="projectDefectGridLoading">
                                                <div class="msg">
                                                    <span>
                                                        Loading Data...
                                                        <i class="fa fa-spinner fa-spin"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="grid-msg-overlay" ng-hide="projectDefectGridLoading || projectDefectGrid.data.length">
                                                <div class="msg">
                                                    <span>No Data</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_projectWidget" aria-labelledby="Project-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-md-12">
                                        <div id="mGrid4" ui-grid="projectWidgetGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                            <div class="grid-msg-overlay" ng-show="projectWidgetGridLoading">
                                                <div class="msg">
                                                    <span>
                                                        Loading Data...
                                                        <i class="fa fa-spinner fa-spin"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="grid-msg-overlay" ng-hide="projectWidgetGridLoading || projectWidgetGrid.data.length">
                                                <div class="msg">
                                                    <span>No Data</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_projectPerformance" aria-labelledby="Project-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-md-12">
                                        <div id="mGrid5" ui-grid="projectVarianceGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 180px !important; width:100%">
                                            <div class="grid-msg-overlay" ng-show="projectPerformanceGridLoading">
                                                <div class="msg">
                                                    <span>
                                                        Loading Data...
                                                        <i class="fa fa-spinner fa-spin"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="grid-msg-overlay" ng-hide="projectPerformanceGridLoading || projectVarianceGrid.data.length">
                                                <div class="msg">
                                                    <span>No Data</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="Project-tab">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="x_panel">
                                <div class="x_content fix">
                                    <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#tab_content6_1" ng-click="LoadProductivityDashboard_GroundUp()" role="tab" target="_self" id="Project-tab1" data-toggle="tab" aria-expanded="true">Ground Up</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content6_2" ng-click="LoadProductivityDashboard_Enhanced()" role="tab" target="_self" id="Project-tab2" data-toggle="tab" aria-expanded="false">Enhanced</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="myTabcontent1" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content6_1" aria-labelledby="home-tab">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="x_panel tile fixed_height_420">
                                                    <div class="x_content">
                                                        <div class="col-md-12">
                                                            <div id="productivityGrid" ui-grid="productivityGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                <div class="grid-msg-overlay" ng-show="productivityGridLoading">
                                                                    <div class="msg">
                                                                        <span>
                                                                            Loading Data...
                                                                            <i class="fa fa-spinner fa-spin"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-msg-overlay" ng-hide="productivityGridLoading || productivityGrid.data.length">
                                                                    <div class="msg">
                                                                        <span>No Data</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content6_2" aria-labelledby="Project-tab">


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="x_panel">
                                                    <div class="x_content">
                                                        <div class="col-md-12">
                                                            <div id="productivityGrid2" ui-grid="productivityGrid2" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                <div class="grid-msg-overlay" ng-show="productivityGrid2Loading">
                                                                    <div class="msg">
                                                                        <span>
                                                                            Loading Data...
                                                                            <i class="fa fa-spinner fa-spin"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-msg-overlay" ng-hide="productivityGrid2Loading || productivityGrid2.data.length">
                                                                    <div class="msg">
                                                                        <span>No Data</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content7" aria-labelledby="Project-tab">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="x_panel">
                                <div class="x_content fix">
                                    <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#tab_content7_1" ng-click="LoadDefectDensity_GroundUp()" role="tab" target="_self" id="Project-tab1" data-toggle="tab" aria-expanded="true">Ground Up</a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content7_2" ng-click="LoadDefectDensity_Enhanced()" role="tab" target="_self" id="Project-tab2" data-toggle="tab" aria-expanded="false">Enhanced</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="myTabcontent1" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content7_1" aria-labelledby="home-tab">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="x_panel tile fixed_height_420">
                                                    <div class="x_content">
                                                        <div class="col-md-12">
                                                            <div id="defectDensityGrid" ui-grid="defectDensityGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                <div class="grid-msg-overlay" ng-show="defectDensityGridLoading">
                                                                    <div class="msg">
                                                                        <span>
                                                                            Loading Data...
                                                                            <i class="fa fa-spinner fa-spin"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-msg-overlay" ng-hide="defectDensityGridLoading || defectDensityGrid.data.length">
                                                                    <div class="msg">
                                                                        <span>No Data</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content7_2" aria-labelledby="Project-tab">


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="x_panel">
                                                    <div class="x_content">
                                                        <div class="col-md-12">
                                                            <div id="defectDensityGrid2" ui-grid="defectDensityGrid2" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                <div class="grid-msg-overlay" ng-show="defectDensityGrid2Loading">
                                                                    <div class="msg">
                                                                        <span>
                                                                            Loading Data...
                                                                            <i class="fa fa-spinner fa-spin"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-msg-overlay" ng-hide="defectDensityGrid2Loading || defectDensityGrid2.data.length">
                                                                    <div class="msg">
                                                                        <span>No Data</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab_content8" aria-labelledby="Project-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-md-12">
                                        <div id="mGrid5" ui-grid="" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 180px !important; width:100%">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
