
<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Associate Metrics</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_content fix">

                        <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" target="_self" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Release</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Metrics</a>
                                </li>
                            </ul>
                            <div id="myTabcontent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="x_panel tile fixed_height_420">
                                            <div class="x_title">
                                                <h2>Project Release</h2>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel">
                                                        <div ng-show="alertType" ng-class="{'alert-success': alertType=='Success','alert-danger': alertType=='Failure'}" class="alert alert-dismissable">
                                                            <span style="cursor:pointer;" class="close" aria-label="close" ng-click="ClearAlert()">&times;</span>
                                                            <strong>{{alertType}}!</strong> {{alertMessage}}
                                                        </div>
                                                        <div class="x_content">
                                                            <form name="formRelease" ng-submit="InsertProjectRelease(formRelease.$valid)" novalidate>
                                                                <div class="form-group">
                                                                    <div class="col-md-3"></div>
                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-2">Project Name</label>
                                                                    <div class="col-md-3">
                                                                        <select class="form-control" ng-model="selectedProjectReleaseDropdown" ng-change="GetProjectReleasesByProjectId()" required>
                                                                            <option value="">Select a Project</option>
                                                                            <option ng-repeat="project in projectsDropdown" value="{{project.Value}}">{{project.Text}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-3"></div>
                                                                </div>
                                                                <br>
                                                                <br>
                                                                <div class="form-group">
                                                                    <div class="col-md-3"></div>
                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-2">Release</label>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control" ng-model="ProjectReleaseName" maxlength="100" required>
                                                                    </div>
                                                                    <div class="col-md-3"></div>
                                                                </div>
                                                                <br>
                                                                <br>
                                                                <div class="row">
                                                                    <div class="col-md-3"></div>
                                                                    <div class="col-md-3"></div>
                                                                    <div class="col-md-3">
                                                                        &nbsp;&nbsp;      &nbsp;&nbsp;   &nbsp;&nbsp;  <button class="btn btn-success" type="submit" id="btnSave" ng-disabled="formRelease.$invalid"> Add</button>
                                                                    </div>
                                                                    <div class="col-md-3"></div>
                                                                </div>
                                                            </form>
                                                            <div class="clearfix"></div>
                                                            <br>
                                                            <div>
                                                                <div class="col-md-3"></div>
                                                                <div class="col-md-6">
                                                                    <!-- start project list -->
                                                                    <table class="table table-striped projects" id="tbl_ProjectMetrics" ng-show="projectsReleases.length">
                                                                        <thead style="text-align:center;">
                                                                            <tr>
                                                                                <th>Release No</th>
                                                                                <th>Project Name</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="projectRelease in projectsReleases">
                                                                                <td>{{projectRelease.ReleaseName}}</td>
                                                                                <td>{{projectRelease.ProjectName}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- end project list -->
                                                                    <span style="text-align:center;" ng-show="!projectsReleases.length">No record found!</span>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Metrics Tab Implementation*@
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="Project-tab">
                                    <div class="x_panel">
                                        <div class="x_content" style="align-content:center;">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="x_panel">
                                                    <div class="x_content">
                                                        <div class="form-group">
                                                            <div class="col-md-3"></div>
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-2">Project Name</label>
                                                            <div class="col-md-3">
                                                                <select class="form-control" ng-model="selectedProjectReleaseDropdown" ng-change="getProjectReleases(selectedProjectReleaseDropdown)">
                                                                    <option value="">Select a Project</option>
                                                                    <option ng-repeat="project in projectsDropdown" value="{{project.Value}}">{{project.Text}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3"></div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <div class="form-group">
                                                            <div class="col-md-3"></div>
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-2">Release</label>
                                                            <div class="col-md-3">
                                                                <select class="form-control" ng-model="selectedReleaseDropdown">
                                                                    @*<option value="">Select a Release</option>*@
                                                                    <option ng-repeat="release in releaseDropdown" value="{{release.ProjectReleaseId}}">{{release.ReleaseName}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3"></div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-3">
                                                                &nbsp;&nbsp;      &nbsp;&nbsp;   &nbsp;&nbsp;  <button type="submit" class="btn btn-success" id="btnSave"> Search</button>
                                                            </div>
                                                            <div class="col-md-3"></div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <br>
                                                        <div>
                                                            <div class="col-md-12">
                                                                <!-- start project list -->
                                                                <div ui-grid="gridOptions" class="grid" ui-grid-selection></div>
                                                                <!-- end project list -->
                                                            </div>
                                                            <br /><br /><br />
                                                            <button type="submit" ng-click="saveMetricsAssociation(selectedProjectReleaseDropdown,selectedReleaseDropdown)" class="btn btn-success btnMetricsAssociation" id="btnSave">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>