<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Projects</h3>
            </div>
        </div>
        <div ng-app="project" ng-controller="projectCtrl">

            <div class="pull-right">
                Enter the Project Name to Search : <input type="text">
                <br>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">

                        <div class="x_content">
                            <!-- start project list -->
                            <table id="tbl_ProjectMetrics" class="table table-striped projects" style="width:100%;">
                                <thead>
                                    <tr class="row">
                                        <th class="col-md-1">Project Name</th>
                                        <th class="col-md-2">Service Line</th>
                                        <th class="col-md-1">Project Manager</th>
                                        <th class="col-md-1">Client Name</th>
                                        <th class="col-md-2">Technology</th>
                                        <th class="col-md-2">Industry</th>
                                        <th class="col-md-1">Life Cycle</th>
                                        <th class="col-md-1">Director</th>
                                        <th class="col-md-1">Senior Manager</th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row">
                                        <td class="col-md-1">State Auto</td>
                                        <td class="col-md-2">
                                            <select>
                                                <option></option>
                                                <option>SI</option>
                                                <option>DD</option>
                                                <option>AMS</option>
                                            </select>

                                        </td>
                                        <td class="col-md-1">Richard</td>
                                        <td class="col-md-1">California</td>
                                        <td class="col-md-2">
                                            <select>
                                                <option></option>
                                                <option>Java</option>
                                                <option>.NET</option>

                                            </select>
                                        </td>
                                        <td class="col-md-2">
                                            <select>
                                                <option></option>
                                                <option>Public Sector</option>
                                                <option>C &amp; IP</option>
                                                <option>Insurance</option>
                                            </select>
                                        </td>
                                        <td class="col-md-1">Test</td>
                                        <td class="col-md-1">Thomson</td>
                                        <td class="col-md-1">Mary</td>
                                        <td class="col-md-1">
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr class="row">
                                        <td class="col-md-1">Homesite</td>
                                        <td class="col-md-2">
                                            <select>
                                                <option></option>
                                                <option>SI</option>
                                                <option>DD</option>
                                                <option>AMS</option>
                                            </select>

                                        </td>
                                        <td class="col-md-1">Harris</td>
                                        <td class="col-md-1">Newark</td>
                                        <td class="col-md-2">
                                            <select>
                                                <option> </option>
                                                <option>Java</option>
                                                <option>.NET</option>

                                            </select>
                                        </td>
                                        <td class="col-md-2">
                                            <select>
                                                <option> </option>
                                                <option>Public Sector</option>
                                                <option>C &amp; IP</option>
                                                <option>Insurance</option>
                                            </select>
                                        </td>
                                        <td class="col-md-1">
                                            Waterfall
                                        </td>
                                        <td class="col-md-1">Johnson</td>
                                        <td class="col-md-1">Michael</td>
                                        <td class="col-md-1">
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>

                                    @*<tr>
                    <td><input type="text"></td>
                    <td>
                        <select>
                            <option>Select Service Line</option>
                            <option>SI</option>
                            <option>DD</option>
                            <option>AMS</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td>
                        <select>
                            <option>Select Technology</option>
                            <option>Java</option>
                            <option>.NET</option>
                        </select>
                    </td>
                    <td>
                        <select>
                            <option>Select Industry</option>
                            <option>Public Sector</option>
                            <option>C &amp; IP</option>
                            <option>Insurance</option>
                        </select>
                    </td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td></td>
                </tr>  *@
                                </tbody>
                            </table>
                            @*<div class="gridStyle" ng-grid="gridOptions"></div>
                            *@
                            <!-- end project list -->
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>