<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Projects</h3>
            </div>
        </div>
        <div ng-app="project" ng-controller="projectCtrl">

            <div class="pull-right">
                Enter the Project Name to Search : <input type="text">
                <br>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">

                        <div class="x_content">
                            <!-- start project list -->
                            <table id="tbl_ProjectMetrics" class="table table-striped projects" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Service Line</th>
                                        <th>Project Manager</th>
                                        <th>Client Name</th>
                                        <th>Technology</th>
                                        <th>Industry</th>
                                        <th>Life Cycle</th>
                                        <th>Director</th>
                                        <th>Senior Manager</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>State Auto</td>
                                        <td>
                                            <select>
                                                <option>Select Service Line</option>
                                                <option>SI</option>
                                                <option>DD</option>
                                                <option>AMS</option>
                                            </select>

                                        </td>
                                        <td>Richard</td>
                                        <td>California</td>
                                        <td>
                                            <select>
                                                <option>Select Technology</option>
                                                <option>Java</option>
                                                <option>.NET</option>

                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option>Select Industry</option>
                                                <option>Public Sector</option>
                                                <option>C &amp; IP</option>
                                                <option>Insurance</option>
                                            </select>
                                        </td>
                                        <td>Test</td>
                                        <td>Thomson</td>
                                        <td>Mary</td>
                                        <td>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
<!--                                  <tr ng-repeat="x in projectList">
                                        <td>{{ x.ProjectName }}</td>
                                        <td>
                                            <select data-ng-options="o.serviceName for o in x.serviceList" data-ng-model="ServiceLine"></select>
                                        </td>
                                        <td>
                                            {{x.ProjectManager}}
                                        </td>
                                        <td>
                                            {{x.ClientName}}
                                        </td>
                                    </tr>
                                    -->
                                    <tr>
                                        <td>State Auto</td>
                                        <td>
                                            <select>
                                                <option>Select Service Line</option>
                                                <option>SI</option>
                                                <option>DD</option>
                                                <option>AMS</option>
                                            </select>

                                        </td>
                                        <td>Richard</td>
                                        <td>California</td>
                                        <td>
                                            <select>
                                                <option>Select Technology</option>
                                                <option>Java</option>
                                                <option>.NET</option>

                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option>Select Industry</option>
                                                <option>Public Sector</option>
                                                <option>C &amp; IP</option>
                                                <option>Insurance</option>
                                            </select>
                                        </td>
                                        <td>Test</td>
                                        <td>Thomson</td>
                                        <td>Mary</td>
                                        <td>
                                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option>Select Service Line</option>
                                                <option>SI</option>
                                                <option>DD</option>
                                                <option>AMS</option>
                                            </select>
                                        </td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option>Select Technology</option>
                                                <option>Java</option>
                                                <option>.NET</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option>Select Industry</option>
                                                <option>Public Sector</option>
                                                <option>C &amp; IP</option>
                                                <option>Insurance</option>
                                            </select>
                                        </td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td><input type="text"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end project list -->
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>