<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Roles</h3>
            </div>
        </div>
        <div ng-app="role" ng-controller="roleCtrl">
            <div ng-show="alertType" ng-class="{'alert-success': alertType=='Success','alert-danger': alertType=='Failure'}" class="alert alert-dismissable">
                <span style="cursor:pointer;" class="close" aria-label="close" ng-click="ClearAlert()">&times;</span>
                <strong>{{alertType}}!</strong> {{alertMessage}}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">

                        <div class="x_content">
                            <div id="gridRoles" ui-grid="gridOptions"></div>
                            <br />
                            <button type="submit" class="btn btn-success" ng-click="add()">Add Row</button>
                            
                            @*<button type="submit" class="btn btn-success" ng-click="saveChanges()">Save</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>