<style type="text/css">
    /*this datalist  hide thead text box command unwanted message*/
    .ui-grid-pager-row-count-label {
        display: none;
    }

    .ui-grid-pager-control-input {
        display: none !important;
    }

    .ui-grid-pager-max-pages-number {
        display: none;
    }
    /*End */

    #mGrid {
        width: 100% !important;
        height: 320px !important;
    }
</style>
<div class="x_panel" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Saved Reports</h3>
            </div>
        </div>
        <div ng-app="savedReport" ng-controller="savedReportCtrl" ng-init="init()">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">

                        @*<div class="x_content">
                            <div id="mGrid" ui-grid="metricsGrid" ui-grid-pagination="" class="grid" style="height: auto !important; width:100%"></div><br />
                            <button style="display:none;" type="submit" class="btn btn-success" ng-click="addMetrics()">Add New Metrics</button>
                        </div>*@
                        @*<button id="saveBtn" class="btn btn-success" style="margin-top: 2%" ng-click="saveData()">Save</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>