@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="animate form login_form" ng-app="signIn" ng-controller="signInCtrl">
    <section class="login_content">

        <div ng-if="showMessage">
            <span style="font:bold;color:red;">{{message}}</span>
        </div>
        <form name="formLogin" ng-submit="signIn()">
            <h1>Login Form</h1>
            <div>
                <input type="text" class="form-control" ng-model="username" placeholder="Username" required />
            </div>
            <div>
                <input type="password" class="form-control" ng-model="password" placeholder="Password" required />
            </div>
            <div>
                <button type="submit" class="btn btn-default submit">Log in</button>              
            </div>

            <div class="clearfix"></div>

            <div class="separator">

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><span>QRM</span><span class="green"> Portal</span></h1>
                </div>
            </div>
        </form>
    </section>
</div>
