<style>
    .table-wrapper {
        border: 1px solid black;
        width: 800px;
        height: 300px;
        overflow: auto;
    }
</style>

<style>
    .ui-grid-row, .ui-grid-cell, .ui-grid-cell .ui-grid-vertical-bar {
        height: 35px !important;
        vertical-align: middle !important;
    }
    /*this datalist  hide thead text box command unwanted message*/
    .ui-grid-pager-row-count-label {
        display: none;
    }

    .ui-grid-pager-control-input {
        display: none !important;
    }

    .ui-grid-pager-max-pages-number {
        display: none;
    }
    /*End */

    .gridDivProjectRelease {
        height: 240px !important;
    }

    .errorCellClass {
        height: 75px !important;
        color: #D8000C;
    }

    .missingCellClass {
        color: #D8000C;
    }

    .defectCellClass {
        height: 75px !important;
    }

    .redDefectCellClass {
        height: 75px !important;
        color: #D8000C;
    }

    .effortCellClass {
        height: 50px !important;
    }

    .red {
        height: 50px !important;
        color: #D8000C;
    }

    .headerClass {
        color: white;
        background-color: #003591 !important;
    }

    .headerClass1 {
        color: black;
        background-color: #D9D9D9 !important;
    }

    .countCell {
        color: black;
        background-color: #D9D9D9 !important;
        border: .5px solid #ddd;
        border-collapse: collapse;
        padding: 3px;
        border-color: black;
    }

    .countCell1 {
        color: black;
        background-color: white !important;
        border: .5px solid #ddd;
        border-collapse: collapse;
        padding: 3px;
        border-color: black;
    }


    .gridDivProjectRelease .msg {
        opacity: 1;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 50%;
        background-color: #eee;
        border-radius: 4px;
        border: 1px solid #555;
        text-align: center;
        font-size: 24px;
        display: table;
    }

    .ui-grid-row {
        position: relative;
        z-index: -27;
    }

    .testClass {
        z-index: -10;
    }

    .gridDivProjectRelease .msg span {
        display: table-cell;
        vertical-align: middle;
    }
</style>

<div class="x_panel" role="main">
    <div class="">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Upload Wizard</h3>
                </div>
            </div>
            <div ng-app="upload" ng-controller="uploadCtrl" ng-init="init()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_content">
                                Follow the mentioned steps to upload the QRM sheet.
                                <div class="container">
                                    <step-tabs options="stepTabsOptions" callback="nextClick(msg)"></step-tabs>
                                    <div class="row setup-content margin-top15px" id="step-1">
                                        <div class="col-xs-6 col-md-offset-3">
                                            <div class="col-md-12">
                                                <form novalidate name="projectDetailsForm" role="form" class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Project</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" ng-model="projectDetails.selectedProjectDropdown" ng-change="getProjectReleases(projectDetails.selectedProjectDropdown)" ng-required="true">
                                                                <option value="">Select a Project</option>
                                                                <option ng-repeat="project in projectsDropdown" value="{{project.Value}}">{{project.Text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Month</label>
                                                        <div class="col-sm-10">
                                                            <select ng-model="projectDetails.month" class="form-control" ng-required="true">
                                                                <option value="">Select a Month</option>
                                                                <option ng-repeat="option in months" value="{{option.MonthId}}">{{option.MonthName}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Release</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" ng-model="projectDetails.selectedReleaseDropdown" ng-required="true">
                                                                <option value="">Select a Release</option>
                                                                <option ng-repeat="release in releaseDropdown" value="{{release.ProjectReleaseId}}">{{release.ReleaseName}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-green nextBtn btn-md pull-right" type="button" ng-disabled="projectDetailsForm.$invalid">Next</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row setup-content" id="step-2">
                                        <div class="col-xs-6 col-md-offset-3">
                                            <div class="col-md-12">
                                                <form novalidate name="uploadDetailsForm" role="form" class="form-horizontal">
                                                    <div class="form-group">
                                                        <upload-file></upload-file>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-green nextBtn btn-md pull-right" type="button" ng-disabled="disabledUploadNext">Next</button>
                                                        <button class="btn btn-primary previousBtn btn-md pull-right" type="button">Previous</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row setup-content margin-top15px" id="step-3">
                                        <div class="col-md-12">
                                            <form novalidate name="dataSanityForm" role="form" class="form-horizontal">
                                                @*<div ng-hide="InvalidData">Data Sanity Completed successfully.All the records are valid.</div>*@

                                                <div class="alert alert-success" ng-hide="InvalidData">
                                                    <button type="button" class="close">×</button> <strong>Data Sanity Completed successfully.All the records are valid</strong>
                                                </div>
                                                <div class="alert alert-danger" ng-show="InvalidData">
                                                    <button type="button" class="close">×</button> <strong>Data is Invalid.Please correct the below rows</strong>
                                                </div>

                                                @*<div class="alert alert-success" ng-hide="InvalidEffortData">
                                                        <button type="button" class="close">×</button> <strong>Effort Data is Valid</strong>
                                                    </div>
                                                    <div class="alert alert-danger" ng-show="InvalidEffortData">
                                                        <button type="button" class="close">×</button> <strong>Invalid Effort Data.Please correct the below rows</strong>
                                                    </div>
                                                    <div class="alert alert-success" ng-hide="InvalidDefectData">
                                                        <button type="button" class="close">×</button> <strong>Defect Data is Valid</strong>
                                                    </div>
                                                    <div class="alert alert-danger" ng-show="InvalidDefectData">
                                                        <button type="button" class="close">×</button> <strong>Invalid Defect Data.Please correct the below rows</strong>
                                                    </div>*@

                                                <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                        <li role="presentation" class="active">
                                                            <a href="#tab_content1" target="_self" id="effort-tab" role="tab" data-toggle="tab" aria-expanded="true">Effort Data</a>
                                                        </li>
                                                        <li role="presentation" class="">
                                                            <a href="#tab_content2" role="tab" target="_self" id="defect-tab" data-toggle="tab" aria-expanded="false">Defect Data</a>
                                                        </li>
                                                        <li role="presentation" class="">
                                                            <a href="#tab_content3" role="tab" target="_self" id="defect-tab" data-toggle="tab" aria-expanded="false">Testing Data</a>
                                                        </li>

                                                    </ul>
                                                    <div id="myTabcontent" class="tab-content">
                                                        @*effort data tab implementation*@
                                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="effort-tab">
                                                            <div class="x_panel">
                                                                <div class="x_content" style="align-content:center;">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                        <div class="x_content">
                                                                            <div class="clearfix"></div>
                                                                            <br>
                                                                            <div>
                                                                                <div class="col-md-12">
                                                                                    <h4>
                                                                                        Total:{{EffortTotalCount}}
                                                                                        Success:{{EffortSuccessCount}}
                                                                                        Failure:{{EffortFailureCount}}
                                                                                    </h4>
                                                                                    <br /><br />
                                                                                    <div id="mGrid1" ng-show="InvalidEffortData" ui-grid="effortGridData" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                        <div class="grid-msg-overlay" ng-show="loading">
                                                                                            <div class="msg">
                                                                                                <span>
                                                                                                    Loading Data...
                                                                                                    <i class="fa fa-spinner fa-spin"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="grid-msg-overlay" ng-hide="loading || effortGridData.data.length">
                                                                                            <div class="msg">
                                                                                                <span>No Data</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @*defect data Tab Implementation*@
                                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="defect-tab">
                                                            <div class="x_panel">
                                                                <div class="x_content" style="align-content:center;">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                                                        <div class="x_content">
                                                                            <div class="clearfix"></div>
                                                                            <br>
                                                                            <div>
                                                                                <div class="col-md-12 ">
                                                                                    <h4>
                                                                                        Total:{{GridTotalCount}}
                                                                                        Success:{{GridSuccessCount}}
                                                                                        Failure:{{GridFailureCount}}
                                                                                    </h4>
                                                                                    <br /><br />
                                                                                    <div id="mGrid2" ng-show="InvalidDefectData" ui-grid="defectGridData" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                        <div class="grid-msg-overlay" ng-show="loading">
                                                                                            <div class="msg">
                                                                                                <span>
                                                                                                    Loading Data...
                                                                                                    <i class="fa fa-spinner fa-spin"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="grid-msg-overlay" ng-hide="loading || defectGridData.data.length">
                                                                                            <div class="msg">
                                                                                                <span>No Data</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <br /><br /><br />

                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @*test data Tab Implementation*@

                                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="defect-tab">
                                                            <div class="x_panel">
                                                                <div class="x_content" style="align-content:center;">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                                                        <div class="x_content">
                                                                            <div class="clearfix"></div>
                                                                            <br>
                                                                            <div>
                                                                                <div class="col-md-12 ">
                                                                                    <h4>
                                                                                        Total:{{TestTotalCount}}
                                                                                        Success:{{TestSuccessCount}}
                                                                                        Failure:{{TestFailureCount}}
                                                                                    </h4>
                                                                                    <br /><br />
                                                                                    <div id="mGrid2" ng-show="InvalidTestData" ui-grid="testGridData" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                        <div class="grid-msg-overlay" ng-show="loading">
                                                                                            <div class="msg">
                                                                                                <span>
                                                                                                    Loading Data...
                                                                                                    <i class="fa fa-spinner fa-spin"></i>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="grid-msg-overlay" ng-hide="loading || testGridData.data.length">
                                                                                            <div class="msg">
                                                                                                <span>No Data</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <br /><br /><br />

                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <button class="btn btn-green nextBtn btn-md pull-right" type="button" ng-disabled="InvalidData">Next</button>
                                                    <button class="btn btn-primary previousBtn btn-md pull-right" type="button">Previous</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row setup-content margin-top15px" id="step-4">
                                        <div class="alert alert-success" ng-show="showSuccessAlert">
                                            <button type="button" class="close">×</button> <strong>{{successTextAlert}}</strong>
                                        </div>
                                        <div class="">
                                            <div class="page-title">
                                                <div class="title_left">
                                                    <h3>Project Health Metrics</h3>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="x_panel">
                                                        <div class="x_content fix">
                                                            <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                                                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                                    <li role="presentation" class="active">
                                                                        <a href="#tab_content11" ng-click="LoadProjectEffort()" target="_self" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Effort Data</a>
                                                                    </li>
                                                                    <li role="presentation" class="">
                                                                        <a href="#tab_content12" ng-click="LoadProjectTesting()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Testing data</a>
                                                                    </li>
                                                                    <li role="presentation" class="">
                                                                        <a href="#tab_content13" ng-click="LoadProjectDefect()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Defects data</a>
                                                                    </li>
                                                                    <li role="presentation" class="">
                                                                        <a href="#tab_content4" ng-click="LoadProjectWidget()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Widget Count</a>
                                                                    </li>
                                                                    <li role="presentation" class="">
                                                                        <a href="#tab_content5" ng-click="LoadProjectPerformance()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Project Metrics</a>
                                                                    </li>
                                                                    <li role="presentation" class="">
                                                                        <a href="#tab_content6" ng-click="LoadProductivityDashboard_GroundUp()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Productivity</a>
                                                                    </li>
                                                                    <li role="presentation" class="">
                                                                        <a href="#tab_content7" ng-click="LoadDefectDensity_GroundUp()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Defect Density</a>
                                                                    </li>
                                                                    <li role="presentation" class="">
                                                                        <a href="#tab_content8" ng-click="LoadTestingMetrics()" role="tab" target="_self" id="Project-tab" data-toggle="tab" aria-expanded="false">Testing Metrics</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div id="myTabcontent" class="tab-content">
                                                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content11" aria-labelledby="home-tab">
                                                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                                                        <div class="x_panel tile fixed_height_420">
                                                                            <div class="x_content">
                                                                                <div class="form-group">
                                                                                    <div class="col-md-12">
                                                                                        <div id="projectEffortmGrid" ui-grid="projectEffortGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="tab_content12" aria-labelledby="Project-tab">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="x_panel">
                                                                                <div class="x_content">
                                                                                    <div class="col-md-12">
                                                                                        <div id="projectTestingmGrid" ui-grid="projectTestingGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="tab_content13" aria-labelledby="Project-tab">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="x_panel">
                                                                                <div class="x_content">
                                                                                    <div class="col-md-12">
                                                                                        <div id="mGrid3" ui-grid="projectDefectGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="Project-tab">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="x_panel">
                                                                                <div class="x_content">
                                                                                    <div class="col-md-12">
                                                                                        <div id="mGrid4" ui-grid="projectWidgetGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="Project-tab">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="x_panel">
                                                                                <div class="x_content">
                                                                                    <div class="col-md-12">
                                                                                        <div id="mGrid5" ui-grid="projectVarianceGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="Project-tab">
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <div class="x_panel">
                                                                                <div class="x_content fix">
                                                                                    <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                                                                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                                                            <li role="presentation" class="active">
                                                                                                <a href="#tab_content6_1" ng-click="LoadProductivityDashboard_GroundUp()" role="tab" target="_self" id="Project-tab1" data-toggle="tab" aria-expanded="true">Ground Up</a>
                                                                                            </li>
                                                                                            <li role="presentation" class="">
                                                                                                <a href="#tab_content6_2" ng-click="LoadProductivityDashboard_Enhanced()" role="tab" target="_self" id="Project-tab2" data-toggle="tab" aria-expanded="false">Enhanced</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="myTabcontent1" class="tab-content">
                                                                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content6_1" aria-labelledby="home-tab">

                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="x_panel tile fixed_height_420">
                                                                                                    <div class="x_content">
                                                                                                        <div class="col-md-12">
                                                                                                            <div id="productivityGrid" ui-grid="productivityGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div role="tabpanel" class="tab-pane fade" id="tab_content6_2" aria-labelledby="Project-tab">


                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="x_panel">
                                                                                                    <div class="x_content">
                                                                                                        <div class="col-md-12">
                                                                                                            <div id="productivityGrid2" ui-grid="productivityGrid2" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="tab_content7" aria-labelledby="Project-tab">
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <div class="x_panel">
                                                                                <div class="x_content fix">
                                                                                    <div class="col-md-12" role="tabpanel" data-example-id="togglable-tabs">
                                                                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                                                            <li role="presentation" class="active">
                                                                                                <a href="#tab_content7_1" ng-click="LoadDefectDensity_GroundUp()" role="tab" target="_self" id="Project-tab1" data-toggle="tab" aria-expanded="true">Ground Up</a>
                                                                                            </li>
                                                                                            <li role="presentation" class="">
                                                                                                <a href="#tab_content7_2" ng-click="LoadDefectDensity_Enhanced()" role="tab" target="_self" id="Project-tab2" data-toggle="tab" aria-expanded="false">Enhanced</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="myTabcontent1" class="tab-content">
                                                                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content7_1" aria-labelledby="home-tab">

                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="x_panel tile fixed_height_420">
                                                                                                    <div class="x_content">
                                                                                                        <div class="col-md-12">
                                                                                                            <div id="defectDensityGrid" ui-grid="defectDensityGrid" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div role="tabpanel" class="tab-pane fade" id="tab_content7_2" aria-labelledby="Project-tab">


                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="x_panel">
                                                                                                    <div class="x_content">
                                                                                                        <div class="col-md-12">
                                                                                                            <div id="defectDensityGrid2" ui-grid="defectDensityGrid2" class="grid" ui-grid-cellNav ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize style="height: 400px !important; width:100%">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div role="tabpanel" class="tab-pane fade" id="tab_content8" aria-labelledby="Project-tab">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="x_panel">
                                                                                <div class="x_content">
                                                                                    <form novalidate name="testingMetricsForm" role="form" class="form-horizontal">
                                                                                        <div class="table-responsive">
                                                                                            <table class="table">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th> Testing Phase</th>
                                                                                                        <th>Iteration</th>
                                                                                                        <th>Testing Sub-Phase</th>
                                                                                                        <th>Testing Type</th>
                                                                                                        <th>Manual Or Automated?</th>
                                                                                                    </tr>
                                                                                                </thead>

                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <select class="form-control" ng-model="selectedtestingPhase" ng-required="true">
                                                                                                                <option value="">Select Testing Phase</option>
                                                                                                                <option ng-repeat="testingPhase in TestingPhaseList" value="{{testingPhase.ReferenceValue}}">{{testingPhase.ReferenceValue}}</option>
                                                                                                            </select>

                                                                                                        </td>

                                                                                                        <td>
                                                                                                            <select class="form-control" ng-model="selectedIteration" ng-required="true">
                                                                                                                <option value="">Select Iteration</option>
                                                                                                                <option ng-repeat="Iteration in IterationList" value="{{Iteration.ReferenceValue}}">{{Iteration.ReferenceValue}}</option>
                                                                                                            </select>

                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <select class="form-control" ng-model="selectedtestingSubPhase" ng-required="true">
                                                                                                                <option value="">Select Testing Sub-Phase</option>
                                                                                                                <option ng-repeat="testingSubPhase in TestingSubPhaseList" value="{{testingSubPhase.ReferenceValue}}">{{testingSubPhase.ReferenceValue}}</option>
                                                                                                            </select>


                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <select class="form-control" ng-model="selectedtestingtype" ng-required="true">
                                                                                                                <option value="">Select Testing Type</option>
                                                                                                                <option ng-repeat="testingtype in TestingtypeList" value="{{testingtype.ReferenceValue}}">{{testingtype.ReferenceValue}}</option>
                                                                                                            </select>

                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <select class="form-control" ng-model="selectedManualOrAutomated" ng-required="true">
                                                                                                                <option value="">Manual Or Automated</option>
                                                                                                                <option ng-repeat="ManualOrAutomated in ManualOrAutomatedList" value="{{ManualOrAutomated.ReferenceValue}}">{{ManualOrAutomated.ReferenceValue}}</option>
                                                                                                            </select>

                                                                                                        </td>

                                                                                                    </tr>

                                                                                                </tbody>
                                                                                            </table>

                                                                                        </div>
                                                                                    </form>
                                                                                    <button class="btn btn-green btn-md" type="button" ng-click="EvaluateTestingMetrics()" ng-disabled="testingMetricsForm.$invalid">Evaluate</button>


                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-green btn-md pull-right" ng-click="InsertDetailData()" ng-hide="HideFinalize" type="button">Finalize</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
